<div class="hello">
	<h1>{{msg}} </h1>
	<p>
		For guide and recipes on how to configure / customize this project,<br>
		check out the
		<a href="//cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>.
	</p>
	<h3>Installed CLI Plugins</h3>
	<ul>
		<li><a href="//github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-babel" target="_blank"
				rel="noopener">babel</a></li>
		<li><a href="//github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-typescript" target="_blank"
				rel="noopener">typescript</a></li>
	</ul>
	<h3>Essential Links</h3>
	<ul>
		<li><a href="//vuejs.org" target="_blank" rel="noopener">Core Docs</a></li>
		<li><a href="//forum.vuejs.org" target="_blank" rel="noopener">Forum</a></li>
		<li><a href="//chat.vuejs.org" target="_blank" rel="noopener">Community Chat</a></li>
		<li><a href="//twitter.com/vuejs" target="_blank" rel="noopener">Twitter</a></li>
		<li><a href="//news.vuejs.org" target="_blank" rel="noopener">News</a></li>
	</ul>
	<h3>Ecosystem</h3>
	<ul>
		<li><a href="//router.vuejs.org" target="_blank" rel="noopener">vue-router</a></li>
		<li><a href="//vuex.vuejs.org" target="_blank" rel="noopener">vuex</a></li>
		<li><a href="//github.com/vuejs/vue-devtools#vue-devtools" target="_blank" rel="noopener">vue-devtools</a></li>
		<li><a href="//vue-loader.vuejs.org" target="_blank" rel="noopener">vue-loader</a></li>
		<li><a href="//github.com/vuejs/awesome-vue" target="_blank" rel="noopener">awesome-vue</a></li>
	</ul>
</div>

