$borderColor: #dcdfe6 ;

$border: 1px solid $borderColor;

$borderNone:1px solid transparent;

$clickColor:#3a8ee6;

$hoveredItem: #ecf5ff;

$basicTextColor:#606266;

$fontSize:16px;

$textContextFontSizeNormal:14px;

$textContextFontSizeCompact:12px;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/common/var.scss";

