.ssp-button-body {
	display: flex;
	align-items: center;
	border-radius: 4px;
	border: $border;
}

a.ssp-button-body {
	text-decoration: none !important;
}

.ssp-button-body_split-menu {
	border-radius: 4px 0px 0px 4px;
}

.ssp-button-body_borderless {
	border-radius: 0px !important;
	border: $borderNone !important;
}